.dashboard-app-container {
  background-color: white;
  padding: 4rem;
  > section {
    @include flex(column, center, center, 2rem);
    height: 100%;
    .stopwatch {
      > h2 {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
      }
      >button{
          padding: 1rem 2rem;
          border: none;
          cursor: pointer;
          margin: 2rem;
          font-weight: 700;
          border-radius: 10px;

          &:first-of-type{
            background-color: rgb(0,98,255);
            color: white;
          }
          &:last-of-type{
            background-color: rgb(255,0,0);
            color: white;
          }
          &:hover{
            opacity: 0.8;
          } 
      }
    }
    .tosscoin{
      margin:2rem;
      @include square(15rem);
      position: relative;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: all 0.5s;
      >div{
        border-radius: 50%;
        @include square(100%);
        position: absolute;
        display: grid;
        place-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        backface-visibility: hidden;

        &:first-of-type {
          background-image: url(../assets/heads.png); 
        }filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.521));    
        &:last-of-type {
          background-image: url(../assets/tails.png); 
          transform: rotateY(-180deg);
        }
      }
    }
  }
}
