@import "mixin";
@import "dashboard";
@import "product";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}

.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

.admin-container {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: #f2f2f2;

  > aside {
    width: 100%;
    background-color: #d1e1e2;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin: 2rem 1rem;
      > h5 {
        @include heading(3px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 1rem;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
        }
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    color: #0a1212;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem 1rem;
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      color: #0a1212;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 2rem 1rem;
    }
  }
  img {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    border-radius: 10px;
  }
  a {
    text-decoration: none;
    background-color: rgba(44, 104, 255, 0.445);
    color: rgba(44, 104, 255);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
  }
  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    color: rgba(255, 44, 44);
    &:hover {
      opacity: 0.6;
    }
  }
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.tab-pagination {
  @include flex(row, center, center, 0.5rem);
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    color: rgba(44, 104, 255);
    &:hover {
      opacity: 0.6;
    }
  }
}
// 
// th, td {
//   border-right: 1px solid #ccc; /* Right border for both th and td */
// }